
              /*-------INDEX.HTML------*/
:root{
    /*index.html*/
    --header-text-color: #212121;;
    --benefits-first-color: #212121;
    --benefits-second-color: #757575;
    --staff-first-color: #212121;
    --staff-second-color: #757575;
    /*portfolio.html*/
    --prt-header-text-color: #212121;;
    --benefits-first-color: #212121;
    --benefits-second-color: #757575;
}

body {
 font-family: Roboto, sans-serif;
}



/*-------------HEADER--------------*/

.header-logo {
    font-family: Raleway, sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.nav-link {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-text-color);
}

.nav-adress {
    font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: #757575;
}

.nav-link:hover,
.nav-link:focus,
.nav-adress:hover,
.nav-adress:focus{
    cursor: pointer;
    color: #2196F3;
}

/*------------HERO------------*/

.hero-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
*color: #FFFFFF;*
}

.button-link {
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
    color: #FFFFFF;
    
}

/*----------BENEFITS--------*/

.post-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--benefits-first-color);
}
.post-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--benefits-second-color)
}

/*----------ACTIVITY----------*/

.activity-titile {
    font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/*-----------STAFF------------*/

.staff-name {
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--staff-first-color)
}

.staff-position {
    font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--staff-second-color)
}

/*---------FOOTER----------*/

.footer-logo {
    font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.footer-adress {
    font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
*color: #FFFFFF;*
}

.footer-adress-link {
    font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}

.footer-adress-link:focus,
.footer-adress-link:hover{
    color: #FFFFFF;
}



/*-------------------------PORTFOLIO.html----------------*/

body {
    font-family: Roboto, sans-serif;
   }
 
/*-----------HEADER-PRT---------*/

.prt-header-logo {
font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.prt-nav-link:focus {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--prt-header-text-color)
}   

.prt-nav-link:hover,
.prt-nav-link:focus,
.prt-nav-adress:hover,
.prt-nav-adress:focus{
    cursor: pointer;
    color: #2196F3;
}

.prt-nav-adress {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

/*----------BUTTON-NAVIGATION-PRT----*/

.prt-button-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.prt-button-link:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/*-----------PROJECTS-------*/

.prt-post-title {
    font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.prt-post-text {
    font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}

/*---------FOOTER-------*/

.prt-footer-logo {
    font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

 .prt-footer-adress-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: rgba(255, 255, 255, 0.6);
 }

.prt-footer-adress-link:focus,
.prt-footer-adress-link:hover{
    color: #FFFFFF;
}
