
              /*-------INDEX.HTML------*/
:root{
    --page-first-color: #212121;
    --page-second-color: #757575; 
}

body {
 font-family: Roboto, sans-serif;
}
.list {list-style: none;}
.list a {text-decoration: none;
}
 
/*-------------HEADER--------------*/




.header-logo {
    font-family: Raleway, sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.header-logo >span {
    color: #212121
}

.nav-link {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--page-first-color);

}

.nav-adress {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.nav-link:hover,
.nav-link:focus,
.nav-adress:hover,
.nav-adress:focus{
    cursor: pointer;
    color: #2196F3;
}

/*------------HERO------------*/

.hero-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.button-link {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;  
    color: #FFFFFF;
}



/*----------BENEFITS--------*/

    

.post-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--page-first-color);
}
.post-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--page-second-color)
}

/*----------ACTIVITY----------*/

.activity-titile {
    font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--page-first-color);
}

/*-----------STAFF------------*/

.staff-name {
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--page-first-color)
}

.staff-position {
    font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--page-second-color)
}

/*---------FOOTER----------*/

.footer-logo {
    font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.footer-logo span {
    color: #212121
    }

.footer-adress {
    font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-adress-link {
    font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}

.footer-adress-link:focus,
.footer-adress-link:hover{
    color: #FFFFFF;
}




/*-------------------------PORTFOLIO.html----------------*/


 
/*-----------HEADER-PRT---------*/

.prt-header-logo span {
 color: #212121;   
}
.prt-header-logo {
font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.prt-nav-link:focus {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--page-first-color)
}   

.prt-nav-link:hover,
.prt-nav-link:focus,
.prt-nav-adress:hover,
.prt-nav-adress:focus{
    cursor: pointer;
    color: #2196F3;
}

.prt-nav-adress {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--page-second-color);
}

/*----------BUTTON-NAVIGATION-PRT----*/


.prt-button-link {
    font-family: inherit;
    font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.prt-button-link:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/*-----------PROJECTS-------*/

.prt-post-title {
    font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--page-first-color)
}

.prt-post-text {
    font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--page-second-color);
}

/*---------FOOTER-------*/

.prt-footer-logo {
    font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.prt-footer-logo span {
    color: #212121
    }

.prt-footer-adress {
       font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    }
    
    .prt-footer-adress-link {
        font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    }
    
    .prt-footer-adress-link:focus,
    .prt-footer-adress-link:hover{
        color: #FFFFFF;
    }
